/* Botón de Registro (Estilo Handing) */
.contendor-btn {
    display: flex;         /* Activa el modo flexible */
    justify-content: center; /* Los centra horizontalmente en la página */
    gap: 40px;             /* Establece la separación exacta entre botones */
    margin-top: 50px;      /* Les da aire respecto al texto de arriba */
    flex-wrap: wrap;       /* En pantallas chicas, pone uno debajo del otro */
}


.btn-register {
    background-color: #3f3f3f; /* Color oscuro como el 'Ingresar' de la foto */
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px; /* Bordes redondeados */
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-register:hover {
    background-color: #166534;
}

.btn-registerEncontre {
    background-color: #fdfdfd; /* Color oscuro como el 'Ingresar' de la foto */
    background-size: 10;
    color: rgb(12, 12, 12);
    border: 2px solid #00000000;
    border-radius: 25px; /* Bordes redondeados */
    padding: 60px 40px;
    font-weight: 600;
    font-style:  color #00000000; 
    font-size: 2.5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-registerBusco {
    background-color: #fdfdfd; /* Color oscuro como el 'Ingresar' de la foto */
    background-size: 10;
    color: rgb(12, 12, 12);
    border: 2px solid #00000000;
    border-radius: 25px; /* Bordes redondeados */
    padding: 60px 40px;
    font-weight: 600;
    font-style:  color #00000000; 
    font-size: 2.5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-btn {
    display: flex;         /* Activa el modo flexible */
    justify-content: center; /* Los centra horizontalmente en la página */
    gap: 40px;             /* Establece la separación exacta entre botones */
    margin-top: 50px;      /* Les da aire respecto al texto de arriba */
    flex-wrap: wrap;
    border-radius: 25px;   
}

.btn-etiquetasQR {
    display: flex;         /* Activa el modo flexible */
    justify-content: center; /* Los centra horizontalmente en la página */
    gap: 40px;             /* Establece la separación exacta entre botones */
    margin-top: 50px;      /* Les da aire respecto al texto de arriba */
    flex-wrap: wrap; 
    border-radius: 25px;  
}